nav {
    background-color: #228B22;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 65px;
}
nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: white;
    font-weight: bold;
    font-size: 17px;
}