<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/agregarLocalizaciones.css}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" 
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" 
            crossorigin=""></script>
    <title>Agregar Localización</title>
</head>
<body>
    
    <nav>
        <img class="fitzone" src="/img/Logo.png" alt="FitZone Logo">
        <img src="/img/4.png" class="marca" alt="logo-fitzone">
        <h2>Añade una Localización</h2>
        <ul>
            <li><a href="/perfil">Perfil</a></li>
            <li><a href="/localizaciones">Localizaciones</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </nav>
    
    <form th:action="@{/guardar}" method="POST" th:object="${localizacion}">
		<div class="card-add-localizacion">
			<label for="nombre">Nombre:</label>
			<input type="text" id="nombre" th:field="*{nombre}" class="form-control"/>
			<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error-text"></span>
	
			<label for="direccion">Dirección:</label>
			<input type="text" id="direccion" th:field="*{direccion}" class="form-control"/>
			<span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="error-text"></span>
            
            <input style="display:none" type="text" id="cordX" th:field="*{cordX}"/>
            <input style="display:none" type="text" id="cordY" th:field="*{cordY}"/>

			<label>Ubica la localización en el mapa:</label>
			<div id="map" class="mapa" style="width: 450px; height: 350px;"></div>
	
			<input class="boton-add-localizacion" type="submit" value="Agregar"/>
		</div>
	</form>
   

    <!-- Enlazar el archivo JavaScript -->
    <script th:src="@{/js/index.js}"></script>
</body>
</html>
