<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/detalleLocalizaciones.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Ubicacion</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <img class="logo1" th:src="@{/img/Diseño sin título.png}" alt="logo">
          <img class="navbar-brand logo2" th:src="@{/img/4.png}" alt="nombre-pagina">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" th:href="@{/localizaciones/agregar}">Anadir spot</a>
              <a class="nav-link" th:href="@{/localizaciones}">Localizaciones</a>
              <a class="nav-link" th:href="@{/logout}"><i class="fa-solid fa-right-to-bracket"></i></a>
            </div>
          </div>
        </div>
      </nav>


    <div class="row cuerpoLocalizacion">
        <!--TARJETAS-->
        <div class="col-8 infoLocalizacion">
            <!--INFO SPOT-->
            <div style="display: flex;">
                <div style="width: 50%; height: 600px;">
                <img class="imgLocalizacion" th:src="'/imagenesLocalizaciones/' + ${localizacion.imagen}" th:alt="${localizacion.nombre}" style="width: 100%; object-fit: cover;"/>
                </div>
                <div class="col-7">
                    <h1 th:text="${localizacion.nombre}"></h1>
                    <p th:text="${localizacion.descripcion}"></p>
                    <p th:text="'Dirección: ' + ${localizacion.direccion}"></p>
                    <p id="coordenadas" th:data-cordx="${localizacion.cordX}"
                    th:data-cordy="${localizacion.cordY}"></p>
                    <div id="map" style="width: 100%; height: 70%;"></div>
                </div>
            </div>
        </div>

        <div class="col-2 divComentarios">
            <div class="formularioResena">
                <form th:action="@{/procesa/crear}" method="POST" th:object="${resena}" enctype="multipart/form-data">
                    <div class="rating">
                        <input type="radio" th:field="*{puntuacion}" value="5" id="sel-rating-5"><label for="sel-rating-5">5</label>
                        <input type="radio" th:field="*{puntuacion}" value="4" id="sel-rating-4" checked><label for="sel-rating-4">4</label>
                        <input type="radio" th:field="*{puntuacion}" value="3" id="sel-rating-3"><label for="sel-rating-3">3</label>
                        <input type="radio" th:field="*{puntuacion}" value="2" id="sel-rating-2"><label for="sel-rating-2">2</label>
                        <input type="radio" th:field="*{puntuacion}" value="1" id="sel-rating-1"><label for="sel-rating-1">1</label>
                    </div>
                    <textarea id="comentario" th:field="*{comentario}" class="form-control" rows="2" style="resize:none;"></textarea>
                    <input type="hidden" th:field="*{localizacion.id}" th:value="${localizacion.id}" /> 
                    <input class="botonAgregar" type="submit" value="Agregar Comentario"/>
                </form>
            </div>
            <div class="col-12 comentarioLocalizacion" th:each="resena : ${localizacion.resenas}">
                <ul>
                    <li class="fa fa-star checked"></li>
                    <li th:if="${resena.puntuacion &lt 2}" class="fa fa-star"></li>
                    <li th:unless="${resena.puntuacion &lt 2}" class="fa fa-star checked"></li>
                    <li th:if="${resena.puntuacion &lt 3}" class="fa fa-star"></li>
                    <li th:unless="${resena.puntuacion &lt 3}" class="fa fa-star checked"></li>
                    <li th:if="${resena.puntuacion &lt 4}" class="fa fa-star"></li>
                    <li th:unless="${resena.puntuacion &lt 4}" class="fa fa-star checked"></li>
                    <li th:if="${resena.puntuacion &lt 5}" class="fa fa-star"></li>
                    <li th:unless="${resena.puntuacion &lt 5}" class="fa fa-star checked"></li>
                </ul>
                <h5 th:text="${resena.comentario}"></h5>
            </div>
        </div>
    </div>

    <footer class="footer text-white py-3">
        <div class="container d-flex justify-content-center align-items-center gap-5">
            <span>Contacto: Fitzone@gmail.com</span>
            <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank" class="text-white me-3">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank" class="text-white">
                <i class="bi bi-instagram"></i>
            </a>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/detalleLocalizacion.js}"></script>
</body>
</html>
