<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ubicacion</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/localizaciones/agregar">Agregar Localización</a></li>
            <li><a href="/logout">Cerrar Sesión</a></li>
        </ul>
    </nav>

    <h1>Localizaciones disponibles:</h1>

    <!-- Usar Thymeleaf para iterar sobre las localizaciones -->
    <div th:each="localizacion : ${localizaciones}">
        <h2 th:text="${localizacion.nombre}">Localización</h2>
        <p th:text="${localizacion.direccion}">Dirección</p>
    </div>
</body>
</html>
