<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registrarse</title>
</head>
<body>
<body>
	<h2>Registro</h2>
	<nav>
        <img src="/htmls/Diseño sin título.png" alt="FitZone Logo">
        <h1 class="marca">FitZone</h1>
        <ul>
			<li><a href="/login">Login</a></li>
            <li><a href="#">Añadir Spot</a></li>
            <li><a href="#">Localizaciones</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
	<form th:action="@{/register}" method="POST" th:object="${usuario}">
		
		<label for="nombre">Nombre:</label>
		<input type="text" id="nombre" th:field="*{nombre}" class="form-control"/>
		<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error-text"></span>

		<label for="apellido">Apellido:</label>
		<input type="text" id="apellido" th:field="*{apellido}" class="form-control"/>
		<span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="error-text"></span>

		<label for="email">Email:</label>
		<input type="text" id="email" th:field="*{email}" class="form-control"/>
		<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-text"></span>

		<label for="genero">Género:</label>
		<select id="genero" th:field="*{genero}" class="form-control">
			<option value="Hombre">Hombre</option>
			<option value="Mujer">Mujer</option>
			<option value="Otro">Prefiero no decirlo</option>
		</select>
		<span th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="error-text"></span>

		<label for="sobremi">Sobre Mi:</label>
		<input type="textarea" id="sobremi" th:field="*{sobremi}" class="form-control"/>
		<span th:if="${#fields.hasErrors('sobremi')}" th:errors="*{sobremi}" class="error-text"></span>

		<label for="preferencia">Preferencia:</label>
		<span>Calistenia</span>
		<input type="radio" name="preferencia" value="Calistenia">
		<label for="preferencia"></label>
		<span>Cardio</span>
		<input type="radio" name="preferencia" value="Cardio">

		<label for="clave">Contraseña:</label>
		<input type="password" id="clave" th:field="*{clave}" class="form-control"/>
		<span th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}" class="error-text"></span>

		<label for="confirmarClave">Confirmar Contraseña:</label>
		<input type="password" id="confirmarClave" th:field="*{confirmarClave}" class="form-control"/>
		<span th:if="${#fields.hasErrors('confirmarClave')}" th:errors="*{confirmarClave}" class="error-text"></span>

		<input type="submit" value="Registrarse" class="btn btn-primary"/>
	</form>
</body>
</body>
</html>